.my-container{
    overflow: hidden;
    border: 2px solid purple;
    border-radius: 100px;
}

.login-img{
    height: 100%;
    overflow: hidden;
}

.login-card-main{
    background-color: '#C1C1C1'
}

.login-card{
    width: 60%;
}

.login-btn{
    width: 60%;
}

.logo-img{
    margin-right: '40px'
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}